<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ludo Substitution</title>
  <!-- MDC Web Styles -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/web@latest/dist/material-web.min.css">
  <link rel="stylesheet" href="styles.css" />
  <script src="script.js"></script>
  <!-- <style>
  </style> -->
</head>
<body>
  <div id="substitution-card">
    <div class="header">LUDO MAGIC LEAGUE</div>
    <div class="content">
      <div class="player-section player-out">
        <img id="player-out-img" class="player-img" src="https://b.fssta.com/uploads/application/soccer/headshots/885.vresize.350.350.medium.19.png" alt="Player Out">
        <div>
          <div class="name"></div>
          <div class="number"></div>
        </div>
        <div class="arrow">
          <div class="arrow-out"></div>
        </div>
        <!-- ⬇️ -->
      </div>
      <div class="time"></div>
      <div class="player-section player-in">
        <img id="player-in-img" class="player-img" src="https://fcb-abj-pre.s3.amazonaws.com/img/jugadors/MESSI.jpg" alt="Player In">
        <div>
          <div class="name"></div>
          <div class="number"></div>
        </div>
        <div class="arrow">
          <div class="arrow-in"></div>
        </div>
        <!-- ⬆️ -->
      </div>
    </div>
  </div>
</body>
</html>
